<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Pokemão</title>
</head>

<body>
    <h1>Pokemão</h1>

    <div class="d-flex">
        <% for (const pokemon of resultado) { %>
            <div class="card" style="width: 18rem;">
                <img src="<%= pokemon.image %>" class="card-img-top" alt="imagem do pokemon <%= pokemon.name %>">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= pokemon.name %>
                    </h5>

                    <% for (const item of pokemon.abilities) { %>
                        <p class="card-text"></p>
                        <%= item.ability.name %>
                            </p>
                            <% } %>

                                <a href="/pokemon/<%= pokemon.name %>/detalhes" class="btn btn-primary">Veja mais
                                    informações</a>
                </div>
            </div>

            <% } %>
    </div>
</body>

</html>